Include /etc/ssh/sshd_config.d/*.conf
Port 22
Protocol 2
AllowUsers ubuntu
PermitRootLogin no
PasswordAuthentication no
MaxStartups 5
PermitEmptyPasswords no
ClientAliveInterval 300
ClientAliveCountMax 0
ChallengeResponseAuthentication no
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem sftp  /usr/lib/openssh/sftp-server